absl-py==2.1.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.4.0
appdirs==1.4.4
arabic-reshaper==3.0.0
asn1crypto==1.5.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==24.2.0
beautifulsoup4==4.12.3
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
clikit==0.6.2
# cmdstanpy==0.9.5
cmdstanpy==1.0.4
contourpy==1.3.0
convertdate==2.4.0
crashtest==0.3.1
cryptography==43.0.1
cssselect2==0.7.0
cycler==0.12.1
Cython==3.0.11
ecdsa==0.19.0
ephem==4.1.5
exceptiongroup==1.2.2
fastapi==0.115.0
flatbuffers==24.3.25
fonttools==4.53.1
fpdf==1.7.2
frozendict==2.4.4
frozenlist==1.4.1
future==1.0.0
gast==0.6.0
google-pasta==0.2.0
grpcio==1.66.1
h11==0.14.0
h5py==3.11.0
holidays==0.57
html5lib==1.1
httpstan==4.13.0
idna==3.10
importlib_resources==6.4.5
Jinja2==3.1.4
joblib==1.4.2
keras==3.5.0
kiwisolver==1.4.7
libclang==18.1.1
LunarCalendar==0.0.9
lxml==5.3.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.22.0
matplotlib==3.9.2
mdurl==0.1.2
ml-dtypes==0.4.1
multidict==6.1.0
multitasking==0.0.11
namex==0.0.8
nodejs==0.1.1
numpy==1.26.4
opt-einsum==3.3.0
optional-django==0.1.0
optree==0.12.1
oscrypto==1.3.0
packaging==24.1
pandas==2.2.2
pastel==0.2.1
pbkdf2-ctypes==0.99.5
pdfkit==1.0.0
peewee==3.17.6
pillow==10.4.0
# platformdirs==4.3.6
prophet==1.1.5
protobuf==4.25.4
pycoin==0.52
pycparser==2.22
pycrypto==2.6.1
pydantic==2.9.2
pydantic_core==2.23.4
Pygments==2.18.0
pyHanko==0.25.1
pyhanko-certvalidator==0.26.3
pylev==1.4.0
PyMeeus==0.5.12
pyotp==2.9.0
pyparsing==3.1.4
pypdf==5.0.0
pypng==0.20220715.0
pysimdjson==6.0.2
pystan==3.10.0
python-bidi==0.6.0
python-bitcoinlib==0.4.0
python-dateutil==2.9.0.post0
python-multipart==0.0.9
pytz==2024.2
PyYAML==6.0.2
qrcode==7.4.2
reportlab==4.2.2
requests==2.32.3
rich==13.8.1
scikit-learn==1.5.2
scipy==1.14.1
setuptools-git==1.2
six==1.16.0
sniffio==1.3.1
soupsieve==2.6
stanio==0.5.1
starlette==0.38.5
svglib==1.5.1
tabulate==0.9.0
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.4.0
threadpoolctl==3.5.0
tinycss2==1.3.0
tqdm==4.66.5
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
uritools==4.0.3
urllib3==2.2.3
uvicorn==0.30.6
webargs==8.6.0
webencodings==0.5.1
Werkzeug==3.0.4
wrapt==1.16.0
xhtml2pdf==0.2.16
yarl==1.11.1
yfinance==0.2.43
